@use "colors" as *;
@use "breakpoints" as *;

.ve-footer {
  padding: 50px 0 0;
  background-color: $color-primary-blue;

  @include respond(md) {
    padding: 100px 0 0;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &-item {
      width: 100%;

      @include respond(sm) {
        width: calc(50% - 10px);
      }

      @include respond(md) {
        width: calc(25% - 15px);
      }

      h3 {
        font-size: 16px;
        color: $color-text-primary;
        font-weight: 400;
      }

      ul {
        padding: unset;
        list-style-type: none;
      }

      a {
        color: $color-text-dark;
      }

      p {
        color: $color-text-dark;
      }
    }
  }
}

.ve-copyright {
  padding: 30px 0;

  p {
    text-align: center;
    color: $color-text-dark;
  }
}
