<div class="ve-footer">
  <div class="ve-container">
    <footer>
      <div class="ve-footer-content">
        <div class="ve-footer-content-item">
          <h3>VENUE</h3>
          <div class="ve-footer-content-text">
            <p>Your trusted platform for booking sports venues. Find, book, and play at the best facilities near you.</p>
          </div>
          <div class="ve-footer-content-social-media">
            <div class="ve-footer-content-social-media-item">
              <a href="#">
                <i></i>
              </a>
            </div>
            <div class="ve-footer-content-social-media-item">
              <a href="#">
                <i></i>
              </a>
            </div>
            <div class="ve-footer-content-social-media-item">
              <a href="#">
                <i></i>
              </a>
            </div>
          </div>
        </div>
        <div class="ve-footer-content-item">
          <h3>Quick links</h3>
          <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/venues">Venues</a></li>
          </ul>
        </div>
        <div class="ve-footer-content-item">
          <h3>Venues types</h3>
        </div>
        <div class="ve-footer-content-item">
          <h3>Contact us</h3>
          <ul>
            <li><a href="tel:15551234567">+1 (555) 123-4567</a></li>
            <li><a href="email:info@venuehub.com">{{ "info@venuehub.com" }}</a></li>
          </ul>
        </div>
      </div>
      <div class="ve-copyright">
          <p>© 2025 Venue. All rights reserved.</p>
      </div>
    </footer>
  </div>
</div>

