<div class="ve-home-hero">
  <div class="ve-container">
    <div>
      <span>Book Your Perfect Venue Today</span>
    </div>
    <div>
      <span>Find & Book Sports Venues Near You</span>
    </div>
    <div>
      <p>Discover and reserve football fields, basketball courts, tennis courts, and more. Easy booking, instant confirmation, competitive prices.</p>
    </div>
    <div class="ve-home-hero-search-form">
      <form>
        <div class="ve-home-hero-search-form-row">
          <mat-form-field class="ve-home-hero-search-form-field">
            <input matInput placeholder="Search for venue or sports...">
          </mat-form-field>
          <button matButton="outlined" class="ve-home-hero-search-form-button">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
