@use "colors" as *;
@use "breakpoints" as *;

.ve-home-hero {
  padding: 50px 0;
  background-color: $color-primary;

  @include respond(md) {
    padding: 100px 0;
  }

  &-content {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &-text {
    text-align: center;

    span {
      font-size: 16px;
      color: $color-text-secondary;
    }

    p {
      font-size: 16px;
      color: $color-text-secondary;
    }

    &-foreground {
      border: 1px solid $color-accent;
      border-radius: 22px;
      background-color: rgba($color-accent, 0.5);
      padding: 10px 15px;

      span {
        color: $color-text-secondary;
        font-size: 16px;
      }
    }
  }

  &-search-form {
    width: 100%;
    padding: 0 0 30px;
    border-bottom: 1px solid $color-primary-grey;

    @include respond(md) {
      padding: 0 40px 30px;
    }

    &-row {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;

      @include respond(md) {
        flex-wrap: unset;
      }
    }

    &-field {
      width: 100%;
      display: flex;

      input {
        width: calc(100% - 40px);
        padding: 15px 20px;
        background-color: #fff;
        border-radius: 10px;
        border: none;

        &:focus-visible {
          outline: none;
        }
      }
    }

    &-button {
      border: 1px solid $color-accent;
      border-radius: 10px;
      background-color: rgba($color-accent, 0.5);
      padding: 14px 20px;
      color: $color-text-primary;

      &:hover {
        background-color: rgba($color-accent, 1);
      }
    }
  }

  &-counters {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      text-align: center;

      &-value {
        font-size: 14px;
        color: $color-highlight;
      }

      &-label {
        font-size: 14px;
        color: $color-text-secondary;
      }
    }
  }
}
