@use "colors" as *;
@use "breakpoints" as *;

.ve-venues {
  background-color: $color-primary-light;
  padding: 50px 0;

  @include respond(md) {
    padding: 100px 0;
  }

  &-heading {
    text-align: center;
    padding: 0 0 50px;

    h2 {
      font-weight: 500;
      color: $color-text-dark;
    }

    p {
      color: $color-text-dark;
    }
  }

  &-grid-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    &-item {
      width: 100%;

      @include respond(md) {
        width: calc(50% - 1.5rem);
      }
      @include respond(lg) {
        width: calc(33.3% - 2.5rem);
      }
    }
  }
}
