<div class="ve-venue-card">
    <div class="ve-venue-card-slots">
        <span class="ve-slot ve-slot-accent">Available</span>
        <span class="ve-slot">Football</span>
    </div>
    <div class="ve-venue-card-image">
<!--        <img src="" alt="image">-->
    </div>
    <div class="ve-venue-card-content">
        <div class="ve-venue-card-content-info">
            <span>Beach Volleyball Paradise</span>
        </div>
        <div class="ve-venue-card-content-info">
            <span>Rockaway Beach, NY</span>
        </div>
        <div class="ve-venue-card-content-info">
            <span>4.6(98) 35/hr</span>
        </div>
        <div class="ve-tags">
            <span class="ve-tags-tag">Floodlights</span>
            <span class="ve-tags-tag ">Changing Rooms</span>
            <span class="ve-tags-tag">Parking</span>
        </div>
        <div class="ve-venue-card-actions">
          <button class="ve-btn ve-btn-outlined">View details</button>
          <button class="ve-btn ve-btn-filled">Book now</button>
        </div>
    </div>
</div>
