@use "colors" as *;

.ve-container {
  width: calc(100% - 1.5rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;  // same as Bootstrap’s horizontal padding (.container)
  padding-right: 0.75rem;

  // Responsive max-widths
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

.ve-slot {
  padding: 3px 10px;
  border-radius: 10px;
  background-color: $color-primary-light;
  border: 1px solid $color-primary-grey;
  font-size: 12px;
  color: $color-text-dark;
  line-height: 1;

  &-accent {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-text-primary;
  }

  &-highlight {
    background-color: $color-highlight;
    border-color: $color-highlight;
    color: $color-text-dark;
  }
}

.ve-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;

  &-tag {
    padding: 3px 10px;
    border-radius: 5px;
    background-color: $color-primary-blue;
    font-size: 12px;
    color: $color-text-dark;
  }
}

.ve-btn {
  border-radius: 10px;
  padding: 0.75rem 2.75rem;
  text-align: center;
  width: 100%;
  font-size: 16px;

  &-outlined {
    background-color: $color-primary-light;
    border: 1px solid $color-primary-grey;
    color: $color-text-dark;

    &:hover {
      background-color: $color-primary-blue;
    }
  }

  &-filled {
    background-color: $color-primary-dark;
    border: 1px solid $color-primary-dark;
    color: $color-text-primary;
  }
}
