.ve-menu {
  border-bottom: 1px solid black;
  background-color: #fff;

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-toolbar-items {
      background-color: #fff;
    }
  }
}
